.baner__anim{
    animation: scale 6s linear;
    animation-iteration-count: infinite;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(1);
    }
    20%{
    transform: scale(1.1);
      }
    30% {
        transform: scale(1.2);
    }
     40% {
        transform: scale(1.3);
    }
    50% {
        transform: scale(1.4);
    }
    60%{
        transform: scale(1.3);    
    }
    70%{
        transform: scale(1.2);  
    }
    80%{
        transform: scale(1.1);  
    }
    90%{
        transform: scale(1);  
    }
    100% {
        transform: scale(1);
    }
}
