@media screen and (max-width:320px) {
	.header{
			background-color:#000000;
			max-width:100vw;
			height:13.766vw;
			overflow: hidden;
			}
			
		.header__header-container{
			max-width:100vw;
			height:9.766vw;
			display:flex;
			flex-direction:row;
			padding-left: 4vw;
			padding-right: 4vw;

			
			}
			
		.header-container__burger{
			width: 7.5vw!important;
			margin-top: -1.5vw;
            margin-left: 1vw;
			
		}	
        
		.header__header-logo{
		max-width:30.12vw;
		height:8.79vw;
		margin-top: 1.3vw;
		margin-left: 13.8vw;
		
				}
		.header__burger{
			max-width:3.516vw;
			height:2.734vw;
			margin-top:3.584vw;
			margin-left: 0vw;
		}
		
	
		
		.header__loginmain{
			display: none;
		}
		.header__main-menu{
			display: none;
		}
		.header__login{
			display: none;
		}
		.banner{
			max-width: 100vw;
			max-height: 96.88vw!important;
			overflow: hidden;
			}
		.form-container{
			margin-left: auto;
			margin-right: 1.1vw;
			margin-top: 1.1vw;
			height: 1.5vw;
		}
		.header__icon-search{
			width: 5.63vw;
			height: 5.63vw;
		}

		
		.banner__img1{
					background-image: url(../img/banner3__img1.png)!important;
					background-size: cover;
					background-repeat: no-repeat;
					height: 96.88vw!important;
					width: 100vw!important;
		}
		.banner__img2{
			background-image: url(../img/banner3__img2.png)!important;
			background-size: cover;
			background-repeat: no-repeat;
			height: 96.88vw!important;
			width: 100vw!important;
			}
		.banner__img3{
				background-image: url(../img/banner3__img3.png)!important;
				background-size: cover;
				background-repeat: no-repeat;
				height: 96.88vw!important;
				width: 100vw!important;
				}
		.banner__genres{
			display: none;
		}	
		.banner__title{
			font-family: "OpenSans-Bold";
			font-style: normal;
			font-weight: 700;
			font-size: 10vw;
			color: #FFFFFF;
			padding-left:11.1vw;
			width:79.09vw;
			position: absolute;
			z-index: 1;
			margin-top: -86.2vw;
            text-align: center;
            line-height: 1.218;
			}
		.banner__description{
			font-family: "OpenSans-Regular";
			font-style: normal;
			font-weight: 400;
			font-size: 3.8vw;
			line-height: 5vw!important;
			width:86.09vw;
			color:white;
			padding-left: 7.5vw;
			position: absolute;
			z-index: 1;
			margin-top: -59.2vw;
			text-align: center;
			letter-spacing: -0.03vw;
			}
			.banner__icon-expand-main{
				width: 4.13vw!important;
                height: 2.56vw!important;
                margin-left: -8.1vw!important;
                margin-top: 10vw!important;		
			}
			.banner__button{
				width: 62vw;
				height: 11.83vw;
				margin-left: 19.2vw;
				color: white;
				background: #9D5CD0;
				border-radius: 100px;
				font-size: 2.34vw;
				position: absolute;
				z-index: 1;
				margin-top: -26vw;
				font-family:"OpenSans-Bold";
				font-style: normal;
				font-weight: bold;
                font-size: 3.75vw;
				
				
			}
			.banner__img1{
				background-image: url(../img/planshet-banner__img1.png);
				background-size: cover;
				background-repeat:no-repeat ;
				width:100vw;
				height: 40vw;
			}
			.banner__img2{
				background-image: url(../img/planshet-banner__img2.png);
				background-size: cover;
				background-repeat:no-repeat ;
				width:100vw;
				height: 40vw;
			}
			.banner__img3{
				background-image: url(../img/planshet-banner__img3.png);
				background-size: cover;
				background-repeat:no-repeat ;
				width:100vw;
				height: 40vw;
			}
			.aboutus{
				padding-left: 4.17vw;
				padding-right: 4.17vw;
			}
			.aboutus__title{
                font-size: 8.75vw;
				font-family: "OpenSans-Regular";
				font-style: normal;
				font-weight: normal;
				margin-left: 0.2vw;
				margin-top: 16.5vw;
				
			}
			.aboutus__description{
				width: 90.94vw;
				font-family: "OpenSans-Regular";
				font-style: normal;
				font-weight: 400;
				font-size: 4.38vw;
				line-height: 9vw;
				margin-top: -2.2vw;
				margin-left: 0.4vw;
				margin-bottom: 19.5vw;
				
			}
			.gallery{
				padding-left: 4.17vw;
				padding-right: 4.17vw;
				max-width:100vw;
				background-image: url(../img/background-gallery.jpg);
				height: 82.2vw;
				margin-top: -6.5vw;
				display: flex;
				flex-direction: column;
				padding-bottom: 184.1vw;
				
					
			}
			.gallery__content{
				display: flex;
				flex-direction: row;
				padding-bottom: 4vw;
			}
			.gallery__title{
                font-size: 8.75vw;
				font-family: "OpenSans-Regular";
				font-style: normal;
				font-weight: normal;
				margin-left: 0.2vw;
				margin-top: 16.5vw;
                color: white;
				
			}
			.gallery__partright{
				position: absolute;
				z-index: 1;
				margin-top: 1.1vw!important;
				margin-left: -2.5vw!important;
				width:100vw;
			}
			.gallery__paint-first{
				margin-top: 20.5vw!important;
			}
			.gallery__partleft{
				font-family: "OpenSans-Regular";
				font-style: normal;
				font-weight: 600;
				font-size: 0.83vw;
				line-height: 1.63vw;
				color:white;
				width: 20vw;
				
			}
			.gallery__button{
				margin-top: 4.8vw;
				height: 12.2vw;
				margin-left: -7.6vw;
				width: 23vw;
				padding-right: 90.2vw;
				border: white 1px solid;
				border-radius: 6px;
			}	
			.gallery__select-title{
				padding-left: 4.8vw!important;
				font-family: "OpenSans-Regular"!important;
				font-style: normal;
				font-weight: 400!important;
				font-size: 4.08vw;
				line-height: 2.66vw;
				margin-top: 2.7vw!important;
			}
			.gallery__partright{
			width:95.02vw;
			overflow: hidden;
			margin-top: -2.7vw;
			margin-left: 10vw;
			
			}
			
			.swiper__paints{
				display: flex;
				flex-direction: row;
			}
			.gallery__glass{
				background-color: rgba(0, 0, 0, 0.5);
				width: 15.63vw;
				height: 15.63vw;
				margin-left: 1.30vw;
				margin-top: 1.30vw;
				opacity: 0;
			}
			
			.gallery__glass-paint{
				width: 4.22vw;
				height: 4.11vw;
				margin-left: 5.73vw;
				margin-top: 5.73vw;
				
			}
			.gallery__linck{
				color:#6D4D85;
			}
			
			.gallery__paint1{
				background-image: url('../img/gall__img1-1.png');
				background-size: cover;
				overflow: hidden;
			}
			.gallery__paint2{
				background-image: url('../img/gall__img1-2.png');
				background-size: cover;
				overflow: hidden;
			}
			.gallery__paint3{
				background-image: url('../img/gall__img2-1.png');
				background-size: cover;
				overflow: hidden;
			}
			.gallery__paint4{
				background-image: url('../img/gall__img2-2.png');
				background-size: cover;
				overflow: hidden;
			}
			.gallery__paint5{
				background-image: url('../img/gall__img3-1.png');
				background-size: cover;
				overflow: hidden;
			}
			.gallery__paint6{
				background-image: url('../img/gall__img3-2.jpg');
				background-size: cover;
				overflow: hidden;
			}
			.gallery__paint7{
				background-image: url('../img/gall__img4-1.png');
				background-size: cover;
				overflow: hidden;
			}
			.gallery__paint8{
				background-image: url('../img/gall__img4-2.png');
				width: 18.23vw;
				height: 18.23vw;
				background-size: cover;
				overflow: hidden;
			}
			.gallery__paint9{
				background-image: url('../img/gall__img5-1.png');
				width: 18.23vw;
				height: 18.23vw;
				background-size: cover;
				overflow: hidden;
			}
			.gallery__paint10{
				background-image: url('../img/gall__img5-2.png');
				background-size: cover;
				overflow: hidden;
			}
			.gallery__paint11{
				background-image: url('../img/gall__img6-1.png');
				background-size: cover;
				overflow: hidden;
			}
			.gallery__paint12{
				background-image: url('../img/gall__img6-2.png');
				background-size: cover;
				overflow: hidden;
			}
			.gallery__paint13{
				background-image: url('../img/gall__img7-1.png');
				background-size: cover;
				overflow: hidden;
			}
			.gallery__paint14{
				background-image: url('../img/gall__img7-2.png');
				background-size: cover;
				overflow: hidden;
			}
			.gallery__paint15{
				background-image: url('../img/gall__img8-1.png');
			
				background-size: cover;
				overflow: hidden;
			}
			.gallery__paint16{
				background-image: url('../img/gall__img8-2.png');
				background-size: cover;
				overflow: hidden;
			}
			.gallery__paint17{
				background-image: url('../img/gall__img9-1.png');
				background-size: cover;
				overflow: hidden;
			}
			.gallery__paint18{
				background-image: url('../img/gall__img9-2.png');
				background-size: cover;
				overflow: hidden;
			}
			.gallery__paint19{
				background-image: url('../img/gall__img10-1.png');
				background-size: cover;
				overflow: hidden;
			}
			.gallery__paint20{
				background-image: url('../img/gall__img10-2.png');
				background-size: cover;
				overflow: hidden;
			}
			.gallery__paint21{
				background-image: url('../img/gall__img11-1.png');
				background-size: cover;
				overflow: hidden;
			}
			.gallery__paint22{
				background-image: url('../img/gall__img11-2.png');
				background-size: cover;
				overflow: hidden;
			}
			.gallery__paint23{
				background-image: url('../img/gall__img12-1.png');
				background-size: cover;
				overflow: hidden;
			}
			.gallery__paint24{
				background-image: url('../img/gall__img12-2.png');
				background-size: cover;
				overflow: hidden;
			}
			
			
			.gallery__filtr-main{
				margin-left: 8.1vw;
				height: 2vw;
			}
			
			.gallery__select{
				background-color: rgba(0, 0, 0, 0.4);
				width: 20.5vw;
				color: #FFFFFF;
				border: white 1px solid;
				margin-top: 1.2vw;
			}
			.gallery__download{
				width: 85vw!important;
				font-family: "OpenSans-Regular";
				font-style: normal;
				font-weight: 600!important;
				font-size: 5vw;
				margin-top: 164.8vw!important;
				margin-left: 0.3vw!important;
				line-height: 10vw;
			}
			.gallery__img{
				width: 28.23vw!important;
				height: 36.23vw!important;
				margin-left: -2vw!important;
				margin-top: 21.1vw!important;
				margin-bottom: 0.1vw!important;
				padding-right: 13.1vw!important;
				
			}
			.swiper__paints{
				width:100%;
			}
			.swiper__container-paints{
				display:flex;
				flex-direction:row;
			}
			.swiper__paints{
					display:flex;
					flex-direction:column;
			}
			.gallery__img_last{
				width: 18.53vw;
				height: 18.23vw;
				margin-left: 3.1vw;
				margin-right: 1.1vw;
				margin-top: 2.1vw;
				margin-bottom: 0.1vw;
			}
			.gallery__paint-first{
				margin-right: 0vw!important;
				margin-left: 3.2vw!important;
				height: 114vw!important;
				width: 90vw!important;
				margin-top: 21vw!important;
			}
			.gallery__second-row{
				margin-right: 0vw!important;
				margin-left: 3.2vw!important;
				height: 114vw!important;
				width: 90vw!important;
				margin-top: 21vw!important;
			}
			.gallery__paint-second{
				margin-right: 0vw!important;
				margin-left: 3.2vw!important;
				height: 114vw!important;
				width: 90vw!important;
				margin-top: 21vw!important;
			}
			.gallery__second-second{
				margin-right: 0vw!important;
				margin-left: 3.2vw!important;
				height: 114vw!important;
				width: 90vw!important;
				margin-top: 21vw!important;
			}
			.gallery__paint-third{
				margin-right: 0vw!important;
				margin-left: 3.2vw!important;
				height: 114vw!important;
				width: 90vw!important;
				margin-top: 21vw!important;
			}
			.gallery__third-row{
				margin-right: 0vw!important;
				margin-left: 3.2vw!important;
				height: 114vw!important;
				width: 90vw!important;
				margin-top: 21vw!important;
			}
			
			.gallery__btn--prev{
				width: 9.38vw!important;
				height: 9.38vw!important;
				position: absolute!important;
				z-index: 2!important;
				margin-top: 292vw!important;
				margin-left: 28vw!important;
			}
			.gallery__btn--next{
				width: 9.38vw!important;
				height: 9.38vw!important;
				position: absolute!important;
				z-index: 2!important;
				margin-top: 292vw!important;
				margin-left: 59vw!important;
				}
			.gallery__filter{
					margin-left: 0!important;
					font-size: 5vw!important;
					margin-top: 1.8vw!important;
					letter-spacing: 0.18vw;

				}
			.form-container{
				margin-left: auto;
			}
			button {
				background-color: transparent;
				border: 0;
				padding: 0;
				cursor: pointer;
			  }
			  input {
				border: 0;
				background-color: lightgrey;
			  }
			  .container {
				position: relative;
				max-width: 1200px;
				margin: 0 auto;
				overflow: hidden;
				padding-top: 40px;
				padding-bottom: 40px;
				height: 138vw;
			  }
			  .form-container {
				display: inline-block;
			  }
			  .form-btn__open path,
			  .form-btn__open rect,
			  .form-btn__submit path,
			  .form-btn__submit rect {
				transition: fill .3s ease-in-out;
			  }
			  .form-btn__open:hover path,
			  .form-btn__open:hover rect,
			  .form-btn__submit:hover path,
			  .form-btn__submit:hover rect {
				fill: orange;
			  }
			  .form-btn__submit {
				margin-right: 2.60vw;
			  }
			  .form-btn__open {
				transition: opacity .3s ease-in-out;
				margin-top: 3.3vw; 
			 }
			  .form-btn__open.active {
				opacity: 0;
			  }
			  .form {
				display: flex;
				align-items: center;
				border: 2px solid grey;
				padding: 5px 3px 5px 12px;
				
				width: 240px;
				border-radius: 20px;
				
				position: absolute;
				z-index: 3;
				top: 50%;
				transform: translate(-150%, -50%);
			  
				background-color: #fff;
				opacity: 0;
				
				transition: transform .3s ease-in-out, opacity .3s ease-in-out .2s;
				margin-left: -69.9vw;
				margin-top: -135vw;
			  }
			  
			  .form__input {
				border-radius: 0 20px 20px 0;
				padding: 5px;
				margin-left: -1.1vw;
				}
			  .form__input:focus-visible {
				outline: 0;
				opacity: 0.8;
			  }
			  
			  
			  .form__active {
				transform: translate(0, -50%);
				opacity: 1;
			  }	
			  .list--item__btn{
				  position: absolute;
				  z-index: 4;
			  }
			  	
		}
		.container-catalog{
			display: none;
		}
		.container-events{
			display: none;
		}
		.container-projects{
			display: none;
		}
		.container-events{
			display: none;
		}
		.container-contacts{
			display: none;
		}
		.container-footer{
			display: none!important;
		}
		
		.container-editions{
			display: none;	
		}
		
		